name: deployment-by-github-action

services:
  api:
    build:
      context: ./backend
      dockerfile: api/Dockerfile
    ports:
      - 8080:8080
    environment:
      - TZ=Asia/Seoul
    volumes:
      - type: bind
        source: .
        target: /app
    working_dir: /app